# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/build/
docs/source/_generated

# Environments
venv/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# pyrcs
.idea/
pyrcs/data/*
!pyrcs/data/location-names-repl.json
!pyrcs/data/location-names-repl-regex.json
!pyrcs/data/metadata.json
tests/*
!tests/data/
!tests/__init__.py
!tests/test_*.py
.pypirc
