build==0.10.0
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
jupyterlab==3.6.1
pip-chill==1.0.1
pyhelpers==1.4.6
pytest-cov==4.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
sphinx-copybutton==0.5.1
sphinx-rtd-theme==1.2.0
twine==4.0.2
uri-template==1.2.0
webcolors==1.12
