beautifulsoup4
fuzzywuzzy
html5lib
lxml
measurement
more-itertools
numpy
openpyxl
pandas
pyhelpers
python-dateutil
python-Levenshtein
python-rapidjson
requests
SQLAlchemy
SQLAlchemy-Utils
tqdm
xlrd
XlsxWriter
xlwt
