beautifulsoup4>=4.8
fuzzywuzzy>=0.17
html5lib>=1.0
lxml>=4.4
measurement>=3.2
more-itertools>=8.0
numpy>=1.18
openpyxl>=3.0
pandas>=1.0
pyhelpers>=1.0.25
python-dateutil>=2.8.0
python-Levenshtein>=0.12
python-rapidjson>=0.9
requests>=2.22
SQLAlchemy>=1.3
SQLAlchemy-Utils>=0.36
tqdm>=4.41
xlrd>=1.2
XlsxWriter>=1.2
xlwt>=1.3
